:root {
  --color-white-800: #ffffff;
  --color-primary-800: #051773;
  --color-primary-700: #0e2a99;
  --color-primary-600: #1b41bf;
  --color-primary-500: #2c5de5;
  --color-primary-400: #5584f2;
  --color-primary-300: #82acff;
  --color-primary-200: #abcaff;
  --color-primary-100: #edf4ff;
  --color-gray-800: #000000;
  --color-gray-700: #202532;
  --color-gray-600: #50545e;
  --color-gray-500: #838791;
  --color-gray-400: #b1b5bd;
  --color-gray-300: #cccdd3;
  --color-gray-200: #eaeaeb;
  --color-gray-100: #f2f2f3;
  --color-red-400: #e83f4e;
  --color-red-200: #ffd6d7;
  --color-red-100: #ffeff0;
  --color-red-50: #fff5f3;
  --color-blue-400: #5584f2;
  --color-blue-300: #608de7;
  --color-blue-200: #abcaff;
  --color-blue-150: #dbe8ff;
  --color-blue-100: #edf4ff;
  --color-green-400: #41be5f;
  --color-green-200: #d6f3e2;
  --color-green-100: #e9fbf1;
  --color-purple-400: #9c5bfc;
  --color-purple-200: #e5d5fc;
  --color-purple-100: #f6f0ff;
  --color-orange-400: #ee843e;
  --color-orange-300: #f2a36e;
  --color-orange-200: #ffe1be;
  --color-orange-100: #fff1e2;
  --bg-color-white-800: var(--color-white-800);
  --bg-color-primary-800: var(--color-primary-800);
  --bg-color-primary-700: var(--color-primary-700);
  --bg-color-primary-600: var(--color-primary-600);
  --bg-color-primary-500: var(--color-primary-500);
  --bg-color-primary-400: var(--color-primary-400);
  --bg-color-primary-300: var(--color-primary-300);
  --bg-color-primary-200: var(--color-primary-200);
  --bg-color-primary-100: var(--color-primary-100);
  --bg-color-gray-800: var(--color-gray-800);
  --bg-color-gray-700: var(--color-gray-700);
  --bg-color-gray-600: var(--color-gray-600);
  --bg-color-gray-500: var(--color-gray-500);
  --bg-color-gray-400: var(--color-gray-400);
  --bg-color-gray-300: var(--color-gray-300);
  --bg-color-gray-200: var(--color-gray-200);
  --bg-color-gray-100: var(--color-gray-100);
  --bg-color-red-400: var(--color-red-400);
  --bg-color-red-200: var(--color-red-200);
  --bg-color-red-100: var(--color-red-100);
  --bg-color-red-50: var(--color-red-50);
  --bg-color-blue-400: var(--color-blue-400);
  --bg-color-blue-300: var(--color-blue-300);
  --bg-color-blue-200: var(--color-blue-200);
  --bg-color-blue-150: var(--color-blue-150);
  --bg-color-blue-100: var(--color-blue-100);
  --bg-color-green-400: var(--color-green-400);
  --bg-color-green-200: var(--color-green-200);
  --bg-color-green-100: var(--color-green-100);
  --bg-color-purple-400: var(--color-purple-400);
  --bg-color-purple-200: var(--color-purple-200);
  --bg-color-purple-100: var(--color-purple-100);
  --bg-color-orange-400: var(--color-orange-400);
  --bg-color-orange-300: var(--color-orange-300);
  --bg-color-orange-200: var(--color-orange-200);
  --bg-color-orange-100: var(--color-orange-100);
  --text-color-white-800: var(--color-white-800);
  --text-color-primary-800: var(--color-primary-800);
  --text-color-primary-700: var(--color-primary-700);
  --text-color-primary-600: var(--color-primary-600);
  --text-color-primary-500: var(--color-primary-500);
  --text-color-primary-400: var(--color-primary-400);
  --text-color-primary-300: var(--color-primary-300);
  --text-color-primary-200: var(--color-primary-200);
  --text-color-primary-100: var(--color-primary-100);
  --text-color-gray-800: var(--color-gray-800);
  --text-color-gray-700: var(--color-gray-700);
  --text-color-gray-600: var(--color-gray-600);
  --text-color-gray-500: var(--color-gray-500);
  --text-color-gray-400: var(--color-gray-400);
  --text-color-gray-300: var(--color-gray-300);
  --text-color-gray-200: var(--color-gray-200);
  --text-color-gray-100: var(--color-gray-100);
  --text-color-red-400: var(--color-red-400);
  --text-color-red-200: var(--color-red-200);
  --text-color-red-100: var(--color-red-100);
  --text-color-red-50: var(--color-red-50);
  --text-color-blue-400: var(--color-blue-400);
  --text-color-blue-300: var(--color-blue-300);
  --text-color-blue-200: var(--color-blue-200);
  --text-color-blue-150: var(--color-blue-150);
  --text-color-blue-100: var(--color-blue-100);
  --text-color-green-400: var(--color-green-400);
  --text-color-green-200: var(--color-green-200);
  --text-color-green-100: var(--color-green-100);
  --text-color-purple-400: var(--color-purple-400);
  --text-color-purple-200: var(--color-purple-200);
  --text-color-purple-100: var(--color-purple-100);
  --text-color-orange-400: var(--color-orange-400);
  --text-color-orange-300: var(--color-orange-300);
  --text-color-orange-200: var(--color-orange-200);
  --text-color-orange-100: var(--color-orange-100);
  --text-weight-regular: 400;
  --text-weight-bold: 700;
  --text-weight-heavy: 800;
  --text-size-80: 5rem;
  --text-size-64: 4rem;
  --text-size-54: 3.375rem;
  --text-size-48: 3rem;
  --text-size-40: 2.5rem;
  --text-size-36: 2.25rem;
  --text-size-32: 2rem;
  --text-size-28: 1.75rem;
  --text-size-24: 1.5rem;
  --text-size-20: 1.25rem;
  --text-size-16: 1rem;
  --text-size-14: 0.875rem;
  --el-color-primary: var(--color-primary-600);
  --el-color-success: var(--color-green-400);
  --el-color-warning: var(--color-orange-400);
  --el-color-danger: var(--color-red-400);
  --shadow-size-l: 0rem 1rem 1.625rem;
  --shadow-size-s: 0rem 0.125rem 0.375rem;
}
